name: test 6.x

on:
   push:
     branches: [ "main" ]
  #schedule:
    #- cron: "0 0 * * *"
  #workflow_dispatch:



permissions:
  contents: write

env:
  CUSTOM_LICENSE_PRIVATE_KEY: ${{ secrets.CUSTOM_LICENSE_PRIVATE_KEY }}
  CUSTOM_LICENSE_PUBLIC_KEY: ${{ secrets.CUSTOM_LICENSE_PUBLIC_KEY }}
  CUSTOM_NPK_SIGN_PRIVATE_KEY: ${{ secrets.CUSTOM_NPK_SIGN_PRIVATE_KEY }}
  CUSTOM_NPK_SIGN_PUBLIC_KEY: ${{ secrets.CUSTOM_NPK_SIGN_PUBLIC_KEY }}
  MIKRO_LICENSE_PUBLIC_KEY: ${{ secrets.MIKRO_LICENSE_PUBLIC_KEY }}
  MIKRO_NPK_SIGN_PUBLIC_LKEY: ${{ secrets.MIKRO_NPK_SIGN_PUBLIC_LKEY }}
  
jobs:
  Set_BuildTime:
    runs-on: ubuntu-22.04
    outputs:
      BUILD_TIME: ${{ steps.set_buildtime.outputs.BUILD_TIME }}
    steps:
      - name: Set build time
        id: set_buildtime
        run: echo "BUILD_TIME=$(date +'%s')" >> $GITHUB_OUTPUT

  Patch_RouterOS:
    needs: Set_BuildTime
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        channel: [stable]
    env:
      TZ: 'Asia/Jakarta'
      LATEST_VERSION: ""
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
        
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11' 

    - name: Get latest routeros version
      id: get_latest
      run: |
        echo $(uname -a)
        LATEST_VERSION=$(wget -nv -O - https://upgrade.mikrotik.com/routeros/NEWEST6.${{ matrix.channel }} | cut -d ' ' -f1)
        echo Latest Version:6.49
        if [ "${{ github.event_name }}" == "schedule" ]; then
          _LATEST_VERSION=$(wget -nv -O - https://upgrade.mikrotik.com/routeros/NEWEST6.${{ matrix.channel }}  | cut -d ' ' -f1)
          if [ "$_LATEST_VERSION" == "6.49" ]; then
            echo "No new version found"
            echo "has_new_version=false" >> $GITHUB_OUTPUT
            exit 0
          fi
        fi
        echo "has_new_version=true" >> $GITHUB_OUTPUT
        BUILD_TIME=${{ needs.Set_BuildTime.outputs.BUILD_TIME }}
        echo Build Time:$BUILD_TIME
        wget -nv -O CHANGELOG https://upgrade.mikrotik.com/routeros/6.49/CHANGELOG
        cat CHANGELOG
        echo "LATEST_VERSION=${LATEST_VERSION}" >> $GITHUB_ENV
        echo "BUILD_TIME=${BUILD_TIME}" >> $GITHUB_ENV

    - name: Cache NetInstall 6.49
      if: steps.get_latest.outputs.has_new_version == 'true'
      id: cache-netinstall
      uses: actions/cache@v4
      with:
        path: |
          netinstall.zip
        key: netinstall-6.49

    
        
    - name: Cache mikrotik-6.49.iso
      if: steps.get_latest.outputs.has_new_version == 'true'
      id: cache-mikrotik
      uses: actions/cache@v4
      with:
        path: |
          mikrotik.iso
        key: mikrotik-6.49

    - name: Get mikrotik-6.49.iso
      if: steps.get_latest.outputs.has_new_version == 'true' && steps.cache-mikrotik.outputs.cache-hit != 'true'
      run: |
          sudo wget -nv -O mikrotik.iso https://download.mikrotik.com/routeros/6.49/mikrotik-6.49.iso


    - name: Patch mikrotik-6.49.iso
      if: steps.get_latest.outputs.has_new_version == 'true'
      run: |
        sudo apt-get install -y mkisofs xorriso > /dev/null
        sudo mkdir ./iso 
        sudo mount -o loop,ro mikrotik.iso ./iso
        sudo mkdir ./new_iso
        sudo cp -r ./iso/* ./new_iso/
        sudo rsync -a ./iso/ ./new_iso/
        sudo umount ./iso
        sudo rm -rf ./iso
        sudo mv ./new_iso/system-6.49.npk ./
        sudo -E python3 patch.py npk system-6.49.npk
        sudo -E python3 patch.py kernel ./new_iso/isolinux/initrd.rgz
        NPK_FILES=$(find ./new_iso/*.npk)
        for file in $NPK_FILES; do
            sudo -E python3 npk.py sign $file $file
        done
        sudo cp system-6.49.npk ./new_iso/
        sudo mkisofs -o mikrotik-6.49.iso \
                    -V "MikroTik 6.49" \
                    -sysid "" -preparer "MiKroTiK" \
                    -publisher "" -A "MiKroTiK RouterOS" \
                    -input-charset utf-8 \
                    -b isolinux/isolinux.bin \
                    -c isolinux/boot.cat \
                    -no-emul-boot \
                    -boot-load-size 4 \
                    -boot-info-table \
                    -R -J \
                    ./new_iso
   
        sudo mkdir ./all_packages
        sudo cp ./new_iso/*.npk ./all_packages/
        sudo rm -rf ./new_iso
        cd ./all_packages
        sudo zip ../all_packages-x86-6.49.zip *.npk
        cd ..


    - name: Create install-image-6.49.img
      if: steps.get_latest.outputs.has_new_version == 'true'
      run: |
        sudo modprobe nbd
        sudo apt-get update
        sudo apt-get install -y qemu-utils extlinux > /dev/null
        truncate --size 64M install-image-6.49.img
        sudo qemu-nbd -c /dev/nbd0 -f raw install-image-6.49.img
        sudo mkfs.vfat -n "Install" /dev/nbd0
        sudo mkdir ./install
        sudo mount /dev/nbd0 ./install
        sudo extlinux --install -H 64 -S 32 ./install/
        echo -e 'default system\nLABEL system\n\tKERNEL linux\n\tAPPEND load_ramdisk=1 initrd=initrd.rgz -hdd-install' \
          > syslinux.cfg
        sudo cp syslinux.cfg ./install/
        sudo rm syslinux.cfg
        NPK_FILES=($(find ./all_packages/*.npk))
        for ((i=1; i<=${#NPK_FILES[@]}; i++))
        do
          echo "${NPK_FILES[$i-1]}=>$i.npk" 
          sudo cp ${NPK_FILES[$i-1]} ./install/$i.npk
        done
        sudo touch ./install/CHOOSE
        sudo touch ./install/autorun.scr 
        sudo umount /dev/nbd0
        sudo qemu-nbd -d /dev/nbd0
        sudo rm -rf ./install
        sudo zip install-image-6.49.zip ./install-image-6.49.img
        sudo rm ./install-image-6.49.img

    - name: Cache chr-6.49.img.zip
      if: steps.get_latest.outputs.has_new_version == 'true'
      id: cache-chr-img
      uses: actions/cache@v4
      with:
        path: |
          chr.img
        key: chr-6.49.img

    - name: Get chr-6.49.img
      if: steps.get_latest.outputs.has_new_version == 'true' && steps.cache-chr-img.outputs.cache-hit != 'true'
      run: |
          sudo wget -nv -O chr.img.zip https://download.mikrotik.com/routeros/6.49/chr-6.49.img.zip
          sudo unzip chr.img.zip
          sudo rm chr.img.zip
          sudo mv chr-6.49.img chr.img

    - name: Create chr-6.49.img
      if: steps.get_latest.outputs.has_new_version == 'true'
      run: |
        sudo mkdir ./chr
        sudo cp chr.img chr-6.49.img
        sudo qemu-nbd -c /dev/nbd0 -f raw chr-6.49.img
        sudo -E python3 patch.py block /dev/nbd0p1 boot/initrd.rgz
        sudo mount /dev/nbd0p1 ./chr
        sudo cp ./all_packages/dude-6.49.npk ./chr/var/pdb/dude/image
        sudo -E python3 patch.py npk ./chr/var/pdb/routeros-x86/image
        sudo cp ./chr/var/pdb/routeros-x86/image ./all_packages/routeros-x86-6.49.npk 
        sudo cp ./all_packages/routeros-x86-6.49.npk routeros-x86-6.49.npk
        sudo umount ./chr
        sudo qemu-nbd -d /dev/nbd0
        sudo rm -rf ./chr

        sudo qemu-img convert -f raw -O qcow2 chr-6.49.img chr-6.49.qcow2
        sudo qemu-img convert -f raw -O vmdk chr-6.49.img chr-6.49.vmdk
        sudo qemu-img convert -f raw -O vpc chr-6.49.img chr-6.49.vhd
        sudo qemu-img convert -f raw -O vhdx chr-6.49.img chr-6.49.vhdx
        sudo qemu-img convert -f raw -O vdi chr-6.49.img chr-6.49.vdi

        sudo zip chr-6.49.qcow2.zip chr-6.49.qcow2
        sudo zip chr-6.49.vmdk.zip chr-6.49.vmdk
        sudo zip chr-6.49.vhd.zip chr-6.49.vhd
        sudo zip chr-6.49.vhdx.zip chr-6.49.vhdx
        sudo zip chr-6.49.vdi.zip chr-6.49.vdi
        sudo zip chr-6.49.img.zip chr-6.49.img

        sudo rm chr-6.49$ARCH.qcow2
        sudo rm chr-6.49$ARCH.vmdk
        sudo rm chr-6.49$ARCH.vhd
        sudo rm chr-6.49$ARCH.vhdx
        sudo rm chr-6.49$ARCH.vdi
        sudo rm chr-6.49$ARCH.img

    - name: Clear Cloudflare cache
      if: steps.get_latest.outputs.has_new_version == 'true'
      run: |
        curl --request POST --url "https://api.cloudflare.com/client/v4/zones/fe6831ed6dc9e6235e69ef2a31f2e7fe/purge_cache" \
            --header "Authorization: Bearer 9GDQkzU51QXaqzp1qMjyFKpyeJyOdnNoG9GZQaGP" \
            --header "Content-Type:application/json" \
            --data '{"purge_everything": true}'

    - name: Delete Release tag 6.49
      if: steps.get_latest.outputs.has_new_version == 'true'
      run: |
        HEADER="Authorization: token ${{ secrets.GITHUB_TOKEN }}"
        RELEASE_INFO=$(curl -s -H $HEADER https://api.github.com/repos/${{ github.repository }}/releases/tags/6.49$ARCH)
        RELEASE_ID=$(echo $RELEASE_INFO | jq -r '.id')
        echo "Release ID: $RELEASE_ID"
        if [ "$RELEASE_ID" != "null" ]; then
            curl -X DELETE -H "$HEADER" https://api.github.com/repos/${{ github.repository }}/git/refs/tags/6.49$ARCH
            echo "Tag 6.49$ARCH deleted successfully."
            curl -X DELETE -H "$HEADER" https://api.github.com/repos/${{ github.repository }}/releases/$RELEASE_ID
            echo "Release with tag 6.49$ARCH deleted successfully."
        else
            echo "Release not found for tag: 6.49)"
        fi

    - name: Create Release tag 6.49
      if: steps.get_latest.outputs.has_new_version == 'true'
      uses: softprops/action-gh-release@v2
      with:
        name: "RouterOS 6.49"
        body_path: "CHANGELOG"
        tag_name: 6.49
        make_latest:  false
        prerelease:  ${{ matrix.channel == 'testing' }}
        files: |
          mikrotik-6.49.iso
          netinstall-6.49.*
          chr-6.49*.zip
          install-image-6.49.zip
          routeros-x86-6.49.npk
          all_packages-x86-6.49.zip
